[Unit]
Description=Last.fm Discord Rich Presence
After=network.service

[Service]
Type=simple
EnvironmentFile=%h/.config/lastfm-rp/lastfm-rp.conf
ExecStart=/bin/bash -c "~/.local/bin/lastfm-rp"

[Install]
WantedBy=default.target